.container {
  width: auto;
  height: auto;
  background-color: #ffffff;
  position: absolute;
  border-right: 8px solid #4f46e5; /* theme.primary 대체 */
  top: 0;
  right: 0;
  gap: 5%;
  padding: 5%;
  max-width: 320px;
  max-height: 100px;

  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px; /* font.H5 대체 */
  font-weight: 600;
}

.icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 480px) {
  .icon {
    width: 18px;
    height: 18px;
  }
}